name: Lint, Test, Proto Gen and Coverage

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
  workflow_call:

jobs:
  lint-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

#      The original package has a lot 
#      - name: Run ESLint
#        run: npm run lint

      - name: Setup Buf
        uses: bufbuild/buf-setup-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Buf modules
        uses: actions/cache@v4
        with:
          path: ~/.cache/buf
          key: ${{ runner.os }}-buf-${{ hashFiles('buf.yaml', 'buf.gen.yaml', 'buf.lock') }}
          restore-keys: |
            ${{ runner.os }}-buf-

      - name: Generate protobufs
        run: npm run proto:gen

      - name: Ensure generated code is up to date
        run: |
          if ! git diff --quiet; then
            echo "Generated protobufs are not up-to-date. Run 'npm run proto:gen' and commit the changes."
            git --no-pager diff
            exit 1
          fi

      - name: Run tests
        run: npm run test

      - name: Install Playwright browsers
        run: |
          npx playwright install --with-deps chromium
          npx playwright install --with-deps firefox

      - name: Playwright tests
        run: npm run test:playwright
